html,
body {
  height: 100%;
  margin: 0;
}

.page {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.page .row {
  margin: 0%;
}

.page .row.header {
  flex: 0 1 auto;
}

.page .row.content {
  flex: 1 1 auto;
}

.page .row.footer {
  flex: 0 1 10px;
}